# Remove all git branches, excepting master, development and current
alias git-fresh='git branch | egrep -v "(master|development|\*)" | xargs git branch -D'

# Kill all running docker containers
alias docker-kill-all='docker container kill $(docker ps -q)'
